<!doctype html>
<html lang="zh">
	<head>
		<%- partial('common/head') %>
	</head>
	<body>
		<%- partial('common/header') %>
		<div class="flex flex-row pl-20 pr-20 mt-10">
			<%- partial('main/sidebar/left') %>
			<%- partial('main/article') %>
			<%- partial('main/sidebar/right') %>
		</div>
	</body>
</html>
